.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(194, 191, 191, 0.404);
  }
  
  .lContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 20rem;
    height: fit-content;
  }
  
  .lInput{
    height: 30px;
    padding: 10px;
  }
  
  .lButton {
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .lButton:disabled{
    background-color: #0071c28c;
    cursor: not-allowed;
  }

  .fail{
    color: red;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
  }
  .success{
    color: green;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
  }